<div class="banner">
  <div class="container">
        <h1>Welcome to Rent & Ride</h1>
        <p>Here, you can offer bikes to rent or rent a bike anywhere and anytime!</p>
        <%= link_to "Let's ride 😎", root_path, class: "btn-green" %>
  </div>
</div>

